services:
  back_to_back:
    container_name: back_to_back
    build:
      context: ./back_to_back
      dockerfile: Dockerfile.backend
    env_file:
      - .env
    volumes:
      - ./back_to_back/src:/app/back_to_back/src
      - ./back_to_back/prisma:/app/prisma
      - ./back_to_back/avatar:/app/back_to_back/avatar
      - /app/back_to_back/node_modules
    ports:
      - "3042:3042"
    environment:
      NODE_ENV: development

  nginx: # On garde le nom "nginx" ou "waf"
    container_name: waf_modsecurity
    build:
      context: ./waf  # Le contexte est le dossier waf créé
      dockerfile: Dockerfile
    depends_on:
      - back_to_back
    ports:
      - "443:443" # Accès direct via https://localhost
      - "80:80"   # Accès direct via http://localhost (pour la redirection)
    volumes:
      # Montage des fichiers statiques du Frontend
      - ./web/dist:/usr/share/nginx/html:ro
      # Montage des certificats SSL
      - ./certs:/etc/nginx/certs:ro
      # Montage des logs pour vérifier ModSecurity
      - ./logs/modsec_audit.log:/var/log/modsec_audit.log
    restart: always

  # prometheus:
  #   build:
  #     context: ./monitoring/prometheus
  #     dockerfile: Dockerfile
  #   container_name: prometheus
  #   ports:
  #     - "9090:9090" #allow access to Prometheus web
  #   volumes:
  #     - prometheus_data:/prometheus #persistent data for prometheus
  #   restart: always
  # grafana:
  #   container_name: grafana
  #   depends_on: #needs prometheus to be running first
  #     - prometheus
  #   ports:
  #     - "3000:3000"
  #   build:
  #     context: ./monitoring/grafana
  #     dockerfile: Dockerfile
  #   # extra_hosts:
  #   #   - "host.docker.internal:host-gateway"
  #   volumes:
  #     - grafana_data:/var/lib/grafana #persistent data for grafana
  #     - grafana_data:/grafana/data #persistent data for grafana
  #   restart: always

  cadvisor: #monitor docker containers
    build:
      context: ./monitoring/cadvisor
      dockerfile: Dockerfile
    container_name: cadvisor
    # ports:
    #   - "8080:8080"
    volumes: #necessary volumes for cadvisor to monitor docker and system stats
      - /run/user/${USER_ID_MONITORING}/docker.sock:/var/run/docker.sock:ro
      - /run/user/${USER_ID_MONITORING}/docker/containerd/containerd.sock:/run/containerd/containerd.sock
      - /sys:/sys:ro
      - /:/rootfs:ro
        #- /var/lib/docker:/var/lib/docker:ro #installation with apt
        #- /var/snap/docker/common/var-lib-docker:/var/lib/docker:ro #installation with snap
    restart: always

volumes:
  grafana_data:
  prometheus_data:
