services:
  back_to_back:
    container_name: back_to_back
    build:
      context: ./back_to_back
      dockerfile: Dockerfile.backend
    volumes:
      - ./back_to_back/src:/app/back_to_back/src
      - ./back_to_back/prisma:/app/back_to_back/prisma
      - ./back_to_back/avatar:/app/back_to_back/avatar
      - /app/back_to_back/node_modules
      - ./vault_entrypoint.sh:/usr/local/bin/vault_entrypoint.sh
      - ./config_shared:/vault/config:ro
    ports:
      - "3042:3042"
    environment:
      NODE_ENV: development
      VAULT_ADDR: "http://vault:8200"
      VAULT_SECRET_PATH: "secret/data/backend/config"
      OUTPUT_ENV_FILE: "/app/.env"
    entrypoint: ["/bin/sh", "/usr/local/bin/vault_entrypoint.sh"]
    depends_on:
      vault:
        condition: service_healthy
    command: ["sh", "-c", "npx prisma migrate deploy && npm run dev"]

  nginx:
    container_name: waf_modsecurity
    build:
      context: ./waf
      dockerfile: Dockerfile
    depends_on:
      - back_to_back
    ports:
      - "8443:443"
      - "8080:80"
    volumes:
      - ./web/dist:/usr/share/nginx/html:ro
      - ./certs:/etc/nginx/certs:ro
      - ./back_to_back/avatar:/app/back_to_back/avatar:ro
      - ./logs/modsec_audit.log:/var/log/modsec_audit.log
    command: ["nginx", "-g", "daemon off;"]
    restart: always

  vault:
    image: hashicorp/vault:1.13.3
    container_name: vault
    ports:
      - "8200:8200"
    restart: unless-stopped
    environment:
      VAULT_ADDR: "http://vault:8200"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "sh", "-c", "curl -fsS http://vault:8200/v1/sys/health | grep '\"sealed\":false'"]
      interval: 5s
      timeout: 10s
      retries: 20
      start_period: 20s
    command: >
      sh -c "
        /vault/init-vault.sh &
        vault server -config=/vault/config.hcl
      "
    volumes:
      - ./vault/config.hcl:/vault/config.hcl:ro
      - ./vault/init-vault.sh:/vault/init-vault.sh:ro
      - vault_data:/vault/data
      - ./config_shared:/vault/config_output

  prometheus:
    build:
      context: ./monitoring/prometheus
      dockerfile: Dockerfile
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
    restart: always

  grafana:
    container_name: grafana
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    build:
      context: ./monitoring/grafana
      dockerfile: Dockerfile
    volumes:
      - grafana_data:/var/lib/grafana
      - grafana_data:/grafana/data
    restart: always

  cadvisor:
    build:
      context: ./monitoring/cadvisor
      dockerfile: Dockerfile
    container_name: cadvisor
    volumes:
      - /run/user/${USER_ID_MONITORING}/docker.sock:/var/run/docker.sock:ro
      - /run/user/${USER_ID_MONITORING}/docker/containerd/containerd.sock:/run/containerd/containerd.sock
      - /sys:/sys:ro
      - /:/rootfs:ro
    restart: always

volumes:
  grafana_data:
  prometheus_data:
  vault_data:
