global: #config global override by local settings
  scrape_interval: 15s #how often prometheus scraps metrics (low during development, should be increased in prod)
  scrape_timeout: 10s #timeout for a scrap request (must be lower than scrape interval to avoid multiple scrap requests and infinite scrape queue)
  evaluation_interval: 15s #interal to evaluate alert rules
alerting: #alertmanager allows to group alerts. Not used here
  alertmanagers:
  - static_configs:
    - targets: []
    scheme: http
    timeout: 10s
    api_version: v2

rule_files: # alert rules location. allow to create alert rules to monitor systems through web UI
  - "/alert_rules.yml"

scrape_configs: #targets to scrap metrics from
- job_name: cadvisor
  honor_timestamps: true
  static_configs:
    - targets:
        - cadvisor:8080
